$container-fluid-xl: 1440px;
$container-fluid-lg: 1280px;
$container-fluid-md: 768px;
$container-fluid-sm: 360px;

$container-fixed-xl: 1180px;
$container-fixed-lg: 1050px;
$container-fixed-md: 720px;
$container-fixed-sm: 340px;

$container-footer-xl: 1220px;
$container-footer-lg: 1168px;
$container-footer-md: 712px;
$container-footer-sm: 340px;

$media-grid-lg: 1422.98px;
$media-grid-md: 1262.98px;
$media-grid-sm: 750.98px;

$color-black: #000000;
$color-grey-700: #1E1814;
$color-grey-600: #201B17;
$color-grey-500: #262423;
$color-grey-400: #302E2D;
$color-grey-300: #403E3D;
$color-grey-200: #757575;
$color-grey-100: #949494;
$color-white: #FFFFFF;

$color-red: #F4511E;
$color-orange: #F46B1E;
$color-yellow: #F4AB1E;
$color-blue: #1EA7F4;
$color-lila: #6656CC;

$font-family-1: "Proxima Nova", "Jost", sans-serif;
$font-family-2: "Manrope", sans-serif;

$color-gray-900: #27272B;
$color-gray-800: #313138;
$color-gray-700: #4A4A51;
$color-gray-600: #636368;
$color-gray-500: #7C7C81;
$color-gray-400: #959598;
$color-gray-300: #AEAEB1;
$color-gray-200: #C7C7C8;
$color-gray-100: #E0E0E1;
$color-gray-050: #F8F8F8;

$color-red-700: #DD2929;
$color-red-500: #E55858;
$color-red-300: #ED8585;