link(rel="stylesheet", href="css/page/new/buttons.css")
div(class="container container-fixed")
  section(class="new buttons")
    a(href="news.html", class="button secondary a btn-back")
      include ../../partials/svg/arrow-left
      span
        | Все новости
    a(href="new.html", class="button a btn-next")
      span
        | Следующая новость
      include ../../partials/svg/arrow-left