link(rel="stylesheet", href="css/page/index/top.css")
section(class="index top")
  div(class="container container-fixed")
    h1(class="h1")
      strong
        | Искусственный мрамор Cirrus
      small
        | Элегантный и роскошный
    h2(class="h2")
      | Наши преимущества