link(rel="stylesheet", href="css/layout/footer-right.css")
div(class="footer-part right")
  div(class="top")
    div(class="wrapper")
      button(type="button", class="button a application")
        span
          | Оставить заявку
      div(class="links")
        div
          a(href="#", class="link")
            | Политика конфиденциальности
        div
          a(href="#", class="link")
            | Обработка персональных данных

  div(class="bottom")
    div(class="wrapper")
      a(href="#", class="logo")
        include ../partials/svg/footer-logo-radianz