link(rel="stylesheet", href="css/layout/footer-left.css")
div(class="footer-part left")
  div(class="wrapper")
    a(href="index.html", class="logo")
      include ../partials/svg/footer-logo-cirrus
      div(class="text")
        | Koros Stone официальный дистрибьютор CIRRUS.