@import "././resources/styles/__/variables";

.index.benefits {
  position: relative;
  z-index: 1;
  font-family: $font-family-1;
  font-style: normal;
  padding-top: 100px;

  @media (max-width: $media-grid-lg) {
    padding-top: 88px;
  }

  @media (max-width: $media-grid-md) {
    padding-top: 70px;
  }

  @media (max-width: $media-grid-sm) {
    padding-top: 64px;
  }

  .benefits-tabs-head-wrapper {
    margin-bottom: 72px;

    @media (max-width: $media-grid-md) {
      margin-bottom: 64px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 48px;
    }
  }

  .benefits-tabs-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;

    @media (max-width: $media-grid-md) {
      height: 56px;
    }

    @media (max-width: $media-grid-sm) {
      flex-direction: column;
      height: 174px;
    }

    .tabs-button {
      font-family: $font-family-1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;

      @media (max-width: $media-grid-md) {
        font-size: 16px;
        line-height: 24px;
      }

      .left {
        color: $color-orange;
      }

      .right {
        margin-left: 12px;
        color: $color-white;
      }

      &.active {
        cursor: default;

        .left {
          color: $color-white;
          font-weight: 600;
          font-size: 62px;
          line-height: 60px;

          @media (max-width: $media-grid-md) {
            font-size: 44px;
            line-height: 42px;
          }
        }

        .right {
          margin-left: 12px;
          padding-bottom: 8px;
          border-bottom: 2px solid $color-orange;
          font-weight: 700;
          font-size: 34px;
          line-height: 40px;

          @media (max-width: $media-grid-md) {
            margin-left: 10px;
            padding-bottom: 6px;
            font-size: 24px;
            line-height: 28px;
          }
        }
      }

      @media (hover: hover) {
        &:not(.active):hover .left {
          color: $color-yellow;
        }
      }

      &:not(.active):active .left {
        color: $color-yellow;
      }
    }
  }

  .benefits-tabs-body-wrapper {
    margin-bottom: 146px;

    @media (max-width: $media-grid-md) {
      margin-bottom: 80px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 90px;
    }
  }

  .list {
    width: 756px;
    height: 854px;
    padding: 0 240px 0 68px;
    margin-left: -35px;
    border-radius: 3px;
    background-color: $color-grey-400;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $media-grid-lg) {
      width: 722px;
      height: 816px;
      padding: 0 160px 0 104px;
      margin-left: 0;

    }

    @media (max-width: $media-grid-md) {
      height: auto;
      width: auto;
      margin: 0 -35px;
      padding: 100px;
    }

    @media (max-width: $media-grid-sm) {
      padding: 100px 50px;
    }
  }

  .items {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 52px;

    @media (max-width: $media-grid-lg) {
      grid-gap: 64px 20px;
    }

    @media (max-width: $media-grid-sm) {
      grid-template-columns: 1fr;
    }
  }

  .item {
    position: relative;

    svg {
      display: block;
      height: 48px;
      width: auto;
      color: $color-white;
    }

    .title {
      margin: 16px 0 24px;
      color: $color-white;
      font-weight: 700;
      font-size: 17px;
      line-height: 28px;

      @media (max-width: $media-grid-md) {
        margin: 8px 0 18px;
      }
    }

    .text {
      color: $color-white;
      font-weight: 400;
      font-size: 15px;
      line-height: 30px;
    }
  }

  .image {
    width: 786px;
    height: 678px;
    object-fit: cover;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-66px, -50%);

    @media (max-width: $media-grid-lg) {
      width: 530px;
      height: 678px;
      transform: translate(111px, -50%);
    }

    @media (max-width: $media-grid-md) {
      width: 100%;
      height: 320px;
      position: static;
      transform: none;
      margin-top: -50px;
    }

    @media (max-width: $media-grid-sm) {
      height: 230px;
    }
  }
}