@import "././resources/styles/__/variables";

.index.slider {

  .swiper {
    width: 100%;
    height: 100px;

    @media (max-width: $media-grid-md) {
      height: 200px;
    }

    @media (max-width: $media-grid-sm) {
      height: 300px;
    }
  }

}