@media (max-width: 1262.98px) {
  .footer-part.right {
    flex-grow: 1;
  }
}
.footer-part.right .top, .footer-part.right .bottom {
  position: relative;
}
.footer-part.right .top::before, .footer-part.right .bottom::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
}
@media (max-width: 1422.98px) {
  .footer-part.right .top::before, .footer-part.right .bottom::before {
    width: 420px;
  }
}
.footer-part.right .top .wrapper, .footer-part.right .bottom .wrapper {
  display: block;
  z-index: 1;
  position: relative;
  width: 290px;
}
.footer-part.right .top::before {
  background-color: #403E3D;
}
.footer-part.right .top .wrapper {
  height: 188px;
  padding: 40px 0 0 44px;
}
.footer-part.right .button {
  margin-bottom: 20px;
  width: 220px;
  height: 48px;
}
.footer-part.right .link {
  color: #FFFFFF;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  font-size: 15px;
  line-height: 28px;
}
@media (hover: hover) {
  .footer-part.right .link:hover {
    color: #949494;
  }
}
.footer-part.right .link:active {
  color: #949494;
}
.footer-part.right .bottom::before {
  background-color: #302E2D;
}
.footer-part.right .bottom .wrapper {
  height: 100px;
  padding: 8px 0 0 44px;
}
.footer-part.right .logo {
  display: block;
  text-decoration: none;
}
