.index.slider .swiper {
  width: 100%;
  height: 100px;
}
@media (max-width: 1262.98px) {
  .index.slider .swiper {
    height: 200px;
  }
}
@media (max-width: 750.98px) {
  .index.slider .swiper {
    height: 300px;
  }
}
