@import "././resources/styles/__/variables";

.footer-part.right {
  .top {
    position: relative;

    &::before {
      content: "";
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 400px;
      background-color: $color-grey-300;
    }

    .wrapper {
      display: block;
      height: 188px;
      width: 290px;
      z-index: 1;
      position: relative;
      padding: 40px 0 0 44px;
    }
  }

  .btn {
    margin-bottom: 20px;
    width: 220px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-white;
    color: $color-white;
    font-family: $font-family-1;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;

    @media (hover: hover) {
      &:hover {
        border-color: $color-grey-200;
      }
    }

    &:active {
      border-color: $color-grey-200;
    }
  }

  .link {
    color: $color-white;
    font-family: $font-family-1;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    font-size: 15px;
    line-height: 28px;

    @media (hover: hover) {
      &:hover {
        color: $color-grey-100;
      }
    }

    &:active {
      color: $color-grey-100;
    }
  }

  .bottom {
    position: relative;

    &::before {
      content: "";
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 400px;
      background-color: $color-grey-400;
    }

    .wrapper {
      display: block;
      height: 100px;
      width: 290px;
      padding: 8px 0 0 44px;
      z-index: 1;
      position: relative;
    }
  }

  .logo {
    display: block;
    text-decoration: none;
  }
}