@import "././resources/styles/__/variables";

.footer-part.left {
  position: relative;

  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: -27px;
    right: 0;
    bottom: 0;
    width: 286px;
    background-color: $color-grey-600;

    @media (max-width: $media-grid-lg) {
      width: 400px;
    }

    @media (max-width: $media-grid-md) {
      top: -22px;
      width: 490px;
    }

    @media (max-width: $media-grid-sm) {
      left: -200px;
      right: -200px;
      width: auto;
    }
  }

  .wrapper {
    display: block;
    width: 268px;
    height: 288px;
    padding-top: 45px;
    z-index: 1;
    position: relative;

    @media (max-width: $media-grid-md) {
      width: 214px;
      height: 178px;
      padding-top: 18px;
    }

    @media (max-width: $media-grid-sm) {
      width: 100%;
      height: 200px;
      padding-top: 16px;
    }
  }

  .logo {
    display: block;
    margin: 0 38px 36px 27px;
    color: $color-grey-100;
    text-decoration: none;

    @media (max-width: $media-grid-md) {
      margin: 0 0 12px;
    }

    @media (max-width: $media-grid-sm) {
      width: 192px;
      margin: 0 auto 16px;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-white;
      }
    }

    &:active {
      color: $color-white;
    }

    svg {
      display: block;
      width: 196px;
      height: auto;

      @media (max-width: $media-grid-md) {
        width: 152px;
      }
    }

    .text {
      margin: 22px 0 0 auto;
      width: 190px;
      font-family: $font-family-1;
      font-weight: 400;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 11px;
      line-height: 20px;

      @media (max-width: $media-grid-md) {
        margin: 12px 0 0;
        width: 100%;
      }

      @media (max-width: $media-grid-sm) {
        margin-top: 16px;
      }
    }
  }

  .socials {
    width: (8px * 2 + 45px * 3);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: $media-grid-md) {
      width: (8px * 2 + 32px * 3);
      margin-left: 12px;
    }

    @media (max-width: $media-grid-sm) {
      width: 160px;
      margin: 0 auto;
      justify-content: flex-start;
    }
  }

  .social {
    color: $color-grey-300;
    text-decoration: none;

    @media (max-width: $media-grid-sm) {
      margin-right: 12px;
    }

    svg {
      display: block;
      width: 45px;
      height: auto;

      @media (max-width: $media-grid-md) {
        width: 32px;
      }
    }

    @media (hover: hover) {
      &:hover svg {
        color: $color-grey-100;
      }
    }

    &:active svg {
      color: $color-grey-100;
    }
  }
}