@import "././resources/styles/__/variables";

.footer-part.right {
  @media (max-width: $media-grid-md) {
    flex-grow: 1;
  }

  .top, .bottom {
    position: relative;

    &::before {
      content: "";
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 400px;

      @media (max-width: $media-grid-lg) {
        width: 420px;
      }
    }

    .wrapper {
      display: block;
      z-index: 1;
      position: relative;
      width: 290px;
    }
  }

  .top {
    &::before {
      background-color: $color-grey-300;
    }

    .wrapper {
      height: 188px;
      padding: 40px 0 0 44px;
    }
  }

  .button {
    margin-bottom: 20px;
    width: 220px;
    height: 48px;
  }

  .link {
    color: $color-white;
    font-family: $font-family-1;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    font-size: 15px;
    line-height: 28px;

    @media (hover: hover) {
      &:hover {
        color: $color-grey-100;
      }
    }

    &:active {
      color: $color-grey-100;
    }
  }

  .bottom {
    &::before {
      background-color: $color-grey-400;
    }

    .wrapper {
      height: 100px;
      padding: 8px 0 0 44px;
    }
  }

  .logo {
    display: block;
    text-decoration: none;
  }
}